body {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Top section */

.top {
    position: relative;
    background-color: black;
    color: white;
    height: 20vh;
}

/* Middle Section */

.middle {
    position: relative;
    background-color: black;
    color: white;
    height: 33vh;
}

/* Bottom Section */

.bottom {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: auto;
    margin: 0;
    text-align: center;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 33vw;
}

article img {
    display: block;
    margin: auto;
    padding: 1rem;
    height: 200px;
    width: 200px;
}

article h2 {
    position: relative;
    padding: 1rem;
}

article p {
    padding: 1rem;
}

article a {
    text-decoration: none;
}

/* Responsive Section */

@media (max-width: 600px) {
    .bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    article {
        max-width: 100%;
    }
}


@media (min-width: 601px) and (max-width: 900px) {
    article {
        max-width: 50%;
    }
}
